/* General Styling */
body {
    background-color: rgb(255, 255, 255);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: #4CAF50;
    margin-bottom: 20px;
}

/* Quiz Container Styling */
.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

/* Input field styling */
.text-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Button Styling */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

/* Link Styling for Leaderboard and Exit */
.link-button {
    color: #4CAF50;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}

.link-button:hover {
    text-decoration: underline;
}

/* Result Container Styling */
.result-container {
    text-align: center;
    margin-top: 20px;
}

/* Form for Quiz Buttons */
.quiz-button-form {
    display: inline-block;
    margin: 10px 0;
}

/* Styling for labels inside forms */
label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    color: #555;
}

/* Styling for text input fields */
input[type="text"] {
    width: 90%; /* Shorter input field */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Table Styling */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* General Styling for Links */
.link-button {
    color: #4CAF50;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}

.link-button:hover {
    text-decoration: underline;
}

